<div class="container mb-4">
  <% @groups.reverse_each do |group| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center">
          <div class="card-header">
            <% if group.user %>
              <%= link_to group.user.username, user_path(group.user) %>
            <% end %>
          </div>
          <div class="card-body">
            <p class="card-text">Qty Allocated: <%= group.qty_allotted %></p>
            <p class="card-text">Qty Balance: <%= group.qty_bal %></p>
            <%= link_to "View", group_path(group), class: "btn btn-outline-success" %>
            <% if logged_in? && group.user == current_user || current_user.admin? %>
              <%= link_to "Edit", edit_group_path(group), class: "btn btn-outline-info" %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(group.created_at) %> ago, edited <%= time_ago_in_words(group.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>