<div class="container">  
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors' %>
      <%= form_with(model: @book, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :region, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :region, class: "form-control shadow rounded", placeholder: "Name of region" %>
          </div>          
        </div>
        <div class="form-group row mt-3">
          <%= f.label :price, class: "col-2 col-form-label text-light" %> 
          <div class="col-10">
            <%= f.number_field :price, class: "form-control shadow rounded", placeholder: "0" %> 
          </div>
        </div>
        <div class="form-group row mt-3"> 
          <%= f.label :qty_allotted, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.number_field :qty_allotted, class: "form-control shadow rounded", placeholder: "0" %>
          </div>
        </div>
        <div class="form-group row mt-3">
          <%= f.label :amt_allotted, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.number_field :amt_allotted, class: "form-control shadow rounded", placeholder: "0" %> 
          </div>
        </div>
        <div class="form-group row mt-3"> 
          <%= f.label :qty_paid, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.number_field :qty_paid, class: "form-control shadow rounded", placeholder: "0" %>
          </div>
        </div>
        <div class="form-group row mt-3">
          <%= f.label :amt_paid, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.number_field :amt_paid, class: "form-control shadow rounded", placeholder: "0" %>
          </div> 
        </div>
        <div class="form-group row mt-3"> 
          <%= f.label :qty_bal, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.number_field :qty_bal, class: "form-control shadow rounded", placeholder: "0" %>
          </div>
        </div>
        <div class="form-group row mt-3">
          <%= f.label :amt_bal, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.number_field :amt_bal, class: "form-control shadow rounded", placeholder: "0" %> 
          </div>
        </div>
        <div class="form-group row justify-content-center mt-3">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <%= link_to '[ Back to group/regions list ]', books_path, class: "text-info" %>
  </div>
</div>
