<h1>Regions List Details</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Price</th>
      <th>Qty Allocated</th>
      <th>Amt Allocated</th>
      <th>Qty Redemeed</th>
      <th>Amt Redemeed</th>
      <th>Qty Bal</th>
      <th>Amt Bal</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.reverse_each do |book| %>
      <tr>
        <td><%= book.region %></td>
        <td><%= book.price %></td>
        <td><%= book.qty_allotted %></td>
        <td><%= book.amt_allotted %></td>
        <td><%= book.qty_paid %></td>
        <td><%= book.amt_paid %></td>
        <td><%= book.qty_bal %></td>
        <td><%= book.amt_bal %></td>
        <td><%= link_to 'Show', book_path(book) %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create new group/region', new_book_path %>
</p>
