<h1>Add a new region/group</h1>
 
<%= form_with scope: :book, url: books_path, local: true do |f| %>
  <p> 
    <%= f.label :region %><br/> 
    <%= f.text_field :region %>
  </p>
  <p>
    <%= f.label :price %><br/> 
    <%= f.number_field :price %> 
  </p>
  <p> 
    <%= f.label :qty_allotted %><br/> 
    <%= f.number_field :qty_allotted %>
  </p>
  <p>
    <%= f.label :amt_allotted %><br/> 
    <%= f.number_field :amt_allotted %> 
  </p>
  <p> 
    <%= f.label :qty_paid %><br/> 
    <%= f.number_field :qty_paid %>
  </p>
  <p>
    <%= f.label :amt_paid %><br/> 
    <%= f.number_field :amt_paid %> 
  </p>
  <p> 
    <%= f.label :qty_bal %><br/> 
    <%= f.number_field :qty_bal %>
  </p>
  <p>
    <%= f.label :amt_bal %><br/> 
    <%= f.number_field :amt_bal %> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>
