<h1>Showing Region Report</h1>

<p><strong>Region: </strong><%= @book.region %></p>
<p><strong>Unit Price: </strong><%= @book.price %></p>
<p><strong>Quantity Allotted: </strong><%= @book.qty_allotted %></p>
<p><strong>Amount Allotted: </strong><%= @book.amt_allotted %></p>
<p><strong>Quantity Redemeed: </strong><%= @book.qty_paid %></p>
<p><strong>Amount Redemeed: </strong><%= @book.amt_paid %></p>
<p><strong>Quantity Balance: </strong><%= @book.qty_bal %></p>
<p><strong>Amount Balance: </strong><%= @book.amt_bal %></p>
