<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to "GS Book Distribution Platform", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Groups/Regions details
          </a>
          <ul class="dropdown-menu">
            <% if logged_in? %>
              <% if current_user.admin? %>
                <%= link_to "Add a new group/region detail", new_group_path, class: "dropdown-item" %> 
              <% end %> 
              <%= link_to "View groups/regions details", groups_path, class: "dropdown-item" %>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Groups/Regions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
              <% if current_user.admin? %>
                <%= link_to "Add a new group/region", new_region_path, class: "dropdown-item" %>
              <% end %>  
              <%= link_to "View groups/regions", regions_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= "(Admin)" if current_user.admin? %> Profile [<%= current_user.username %>]
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% if logged_in? %>
          <%= button_to logout_path, class: "btn btn-outline-light space", method: :delete do %>
            Logout
          <% end %>
        <% else %>
          <%= link_to 'Login', login_path, class: "btn btn-outline-light" %>
          <%= link_to 'Signup', signup_path, class: "btn btn-outline-light space" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
